build/*
nbproject/*
/src/main/antlr/output
/lib/dev/pmd
/lib/dev/checkstyle
/lib/dev/classycle
/lib/dev/findbugs
/src/main/java/ch/tutteli/tsphp/grammar/TSPHPParser.java
/src/main/java/ch/tutteli/tsphp/grammar/TSPHPLexer.java
/src/main/java/ch/tutteli/tsphp/grammar/TSPHP.tokens
