build/*
nbproject/*
/src/main/antlr/output
/lib/dev/pmd
/lib/dev/checkstyle
/lib/dev/classycle
/lib/dev/findbugs
/src/main/java/ch/tutteli/tsphp/parser/TSPHP.tokens
/src/main/java/ch/tutteli/tsphp/parser/TSPHPLexer.java
/src/main/java/ch/tutteli/tsphp/parser/TSPHPParser.java
